# Default values for kitcaddy.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2
docReplicaCount: 1

revisionHistoryLimit: 5

image:
  repository: nginx
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

serviceMonitor:
  enabled: false
prometheusRules:
  enabled: false

deployment:
  enabled: true
  kind: Deployment
  containerPort: 80

  securityContext:
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    seccompProfile: RuntimeDefault

  resources: {}

sidecar:
  enabled: false
  containerPort: 7070
  securityContext:
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    seccompProfile: RuntimeDefault
  resources: {}

docDeployment:
  enabled: false
  containerPort: 8080
  securityContext:
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    seccompProfile: RuntimeDefault
  env: []

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""
  automount: false

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

service:
  enabled: true
  type: ClusterIP
  port: 80
  targetPort: proxy-port
  annotations: {}

docService:
  enabled: false
  type: ClusterIP
  port: 80
  targetPort: container-port
  annotations: {}

ingress:
  enabled: true
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths: []
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

docIngress:
  enabled: false

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

## @param operator.podAffinityPreset Pod affinity preset
## Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#inter-pod-affinity-and-anti-affinity
## Allowed values: soft, hard
##
podAffinityPreset: ""

## @param operator.podAntiAffinityPreset Pod anti-affinity preset.
## Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#inter-pod-affinity-and-anti-affinity
## Allowed values: `soft` or `hard`
##
podAntiAffinityPreset: "soft"

## Node affinity preset
## Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity
##
nodeAffinityPreset:
  ## @param operator.nodeAffinityPreset.type Node affinity preset type. Allowed values: `soft` or `hard`
  ##
  type: ""
  ## @param operator.nodeAffinityPreset.key Set nodeAffinity preset key
  ## E.g.
  ## key: "kubernetes.io/e2e-az-name"
  ##
  key: ""
  ## @param operator.nodeAffinityPreset.values Set nodeAffinity preset values
  ## E.g.
  ## values:
  ##   - e2e-az1
  ##   - e2e-az2
  ##
  values: []
